<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h2>HTML Forms</h2>
        <form action ="{{ url_for('form') }}" method="POST">

        <label for="codepostal">Code postal:</label><br>
        <input type="text" id="cdpostal" name="cdpostal" value="75001"><br>

        <label for="taille">Taille:</label><br>
        <input type="text" id="taille" name="taille" value="100"><br><br>

        <label for="nbpiece">Nombre de piece:</label><br>
        <input type="text" id="nbpiece" name="nbpiece" value="5"><br><br>

        <label for="Nb_bathroom">Nombre salle de bain:</label><br>
        <input type="text" id="Nb_bathroom" name="Nb_bathroom" value="2"><br><br>

        <label for="num_Etage">Numero etage:</label><br>
        <input type="text" id="num_Etage" name="num_Etage" value="4"><br><br>
        
        <label for="Nombre_etages">Nombre detages:</label><br>
        <input type="text" id="Nombre_etages" name="Nombre_etages" value="5"><br><br>

        <label for="Type">Type:</label><br>
        <input type="text" id="Type" name="type" value="1"><br><br>

        <label for="Meuble">Meuble:</label><br>
        <input type="text" id="Meuble" name="Meuble" value="0"><br><br>
        

        <label for="Chauffage">Chauffage:</label><br>
        <input type="text" id="Chauffage" name="Chauffage" value="10"><br><br>
        

        <label for="Terrasse">Terrasse:</label><br>
        <input type="text" id="Terrasse" name="Terrasse" value="1"><br><br>
        

        <label for="Gardien">Gardien:</label><br>
        <input type="text" id="Gardien" name="Gardien" value="1"><br><br>

        <label for="Acces_handicape">Acces_handicape:</label><br>
        <input type="text" id="Acces_handicape" name="Acces_handicape" value="1"><br><br>

        <label for="Securite">Sécurite:</label><br>
        <input type="text" id="Securite" name="Securite" value="1"><br><br>

        <label for="Cave">Cave:</label><br>
        <input type="text" id="Cave" name="Cave" value="1"><br><br>

        <label for="Ascenseur">Ascenseur:</label><br>
        <input type="text" id="Ascenseur" name="Ascenseur" value="1"><br><br>


        <label for="Parking">Parking:</label><br>
        <input type="text" id="Parking" name="Parking" value="1"><br><br>

        <label for="Climatisation">Climatisation:</label><br>
        <input type="text" id="Climatisation" name="Climatisation" value="1"><br><br>

        <label for="Piscine">Piscine:</label><br>
        <input type="text" id="Piscine" name="Piscine" value="1"><br><br>

        <label for="Jardin">Jardin:</label><br>
        <input type="text" id="Jardin" name="Jardin" value="1"><br><br>

        <label for="Garage">Garage:</label><br>
        <input type="text" id="Garage" name="Garage" value="1"><br><br>
        
        

        <button type="submit">Submit</button>

        <p id ="output"></p>
        </form> 
    </body>
</html>